{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
    <h1>Shopping Cart</h1>

    {% if items|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                             <img src="{{ item.product.image }}" alt="{{ item.product.name }}" width="50">
                             <a href="{{ path('app_product_detail', {id: item.product.id}) }}">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td>{{ item.product.price / 100 }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ (item.product.price * item.quantity) / 100 }} €</td>
                        <td>
                            <a href="#">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <h2>Order summary</h2>
            <p>Total: {{ total / 100 }} €</p>
            <a href="{{ path('app_checkout') }}">Checkout</a>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
        <a href="{{ path('app_product_index') }}">Start Shopping</a>
    {% endif %}
{% endblock %}
