{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Elevate Your Lifestyle</h1>
    <p>Discover our curaed collection of premium essentials designed for the modern individual.</p>
    <a href="{{ path('app_product_index') }}">Shop Collection</a>

    <h2>Latest Arrivals</h2>
    
    {% for product in products %}
        <article>
            <img src="https://placehold.co/400x300?text={{ product.name|url_encode }}" alt="{{ product.name }}">
            <div>
                <div>{{ product.category ? product.category.name : 'Uncategorized' }}</div>
                <h3>
                    <a href="{{ path('app_product_detail', {id: product.id}) }}">{{ product.name }}</a>
                </h3>
                <div>{{ product.price / 100 }} €</div>
            </div>
        </article>
    {% else %}
        <p>No products found. Start adding some!</p>
    {% endfor %}
{% endblock %}
