{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div>
        <img src="https://placehold.co/600x600?text={{ product.name|url_encode }}" alt="{{ product.name }}">
    </div>
    
    <div>
        <span>{{ product.category ? product.category.name : 'Uncategorized' }}</span>
        <h1>{{ product.name }}</h1>
        <div>{{ product.price / 100 }} €</div>
        
        <div>
            <p>{{ product.description }}</p>
        </div>
        
        <form action="{{ path('app_cart_add', {id: product.id}) }}" method="post">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
{% endblock %}
